.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  width: 100%;
  font-family: "Minecraft", sans-serif;
  background: url("../../assets/dirt.jpg");
  background-size: 50%;
  background-position: top;
  position: sticky;
  top: 0;
  z-index: 5;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.navScrolled {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  width: 100%;
  font-family: "Minecraft", sans-serif;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
  z-index: 2;
  padding-left: 25px;
  padding-right: 25px;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .right {
    display: none;
  }
  .rightMobile {
    display: flex;
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .players {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .list {
    padding-left: 5px;
    padding-right: 5px;
  }

  .left {
    margin-left: 1rem;
  }

  .rightMobile {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .right {
    display: flex;
  }
  .rightMobile {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .listLink {
    font-size: 2rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 1rem !important;
    margin-top: 0.5rem !important;
    margin-bottom: 1rem !important;
  }
}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  height: 100%;
}

.listItem:first-child {
  margin-left: 0;
}

.listLink {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
  padding: 0px 7px 7px 7px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.listLink:hover {
  color: black;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
}

.listLinkHome {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.boldText {
  font-weight: 700;
  text-transform: uppercase;
}

.logo {
  width: 55px;
  height: 70px;
  margin-right: 1rem;
}

.players {
  opacity: 0.5;
  color: #fff;
  margin-left: 12px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1920px) {
  .left {
    margin-left: 3rem;
  }
  .right {
    margin-right: 3rem;
  }
}
