.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  text-align: center;
  background-color: #f1f1f1;
  position: relative;
  min-width: 250px;
  min-height: 125px;
  border-radius: 6%;
  cursor: pointer;
  font-family: "Minecraft", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s all ease-in-out;
  border-radius: 5%;
}

.overlay:hover {
  opacity: 1;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.overlayText {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Minecraft", sans-serif;
  z-index: 3;
}

.lootImage {
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: contain;
  bottom: -75px;
  z-index: 2;
}

.container:nth-child(1) .card {
  background-color: rgb(165, 97, 51);
  background-image: linear-gradient(
    315deg,
    rgb(165, 97, 51) 0%,
    rgb(117, 59, 20) 74%
  );
}

.container:nth-child(2) .card {
  background-color: rgb(119, 120, 141);
  background-image: linear-gradient(
    315deg,
    rgb(119, 120, 141) 0%,
    rgb(67, 67, 68) 74%
  );
}

.container:nth-child(3) .card {
  background-color: rgb(162, 206, 247);
  background-image: linear-gradient(
    315deg,
    rgb(162, 206, 247) 0%,
    rgb(55, 121, 182) 74%
  );
}

.container:nth-child(4) .card {
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
}
